<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com/dust.mybatis.MemberMapper.xml">
	
	<select id="getMember" resultType="com.dust.dto.MemberDTO">
		<![CDATA[
			SELECT * 
			FROM member 
			WHERE id= #{id}
		]]>
	</select>
	
	<select id="confirmID" resultType="int" parameterType="com.dust.dto.MemberDTO">
		<![CDATA[
			SELECT * 
			FROM member 
			WHERE id = #{id}
		]]>
	</select>
	
	<insert id="joinMember" parameterType="com.dust.dto.MemberDTO">
		<![CDATA[
			INSERT INTO member(id, pwd, name, email, address, phone, zip_num) 
			VALUES (#{id}, #{pwd}, #{name}, #{email}, #{address}, #{phone}, #{zip_num})
		]]>
	</insert>
	
	<delete id="delMember" parameterType="com.dust.dto.MemberDTO">
		<![CDATA[
			DELETE FROM member 
			WHERE id = #{id} 
			AND pwd = #{pwd}
		]]>
	</delete>
	
	<update id="upMember" parameterType="com.dust.dto.MemberDTO">
		<![CDATA[
			UPDATE member 
			SET pwd = #{rePwd} 
			WHERE id = #{id} 
			AND pwd = #{pwd}
		]]>
	</update>
	
 </mapper>